{% extends "base_generic.html" %}


{% block title %}
<title>Add Type of Place</title>
{% endblock %}


{% block content %}

<div class="container" style="text-align: center;">
  <h1>Add Type of Place: </h1>

  <form method="post">
    {% csrf_token %}
    <table style="margin: auto;">
      <tr>
        <th>Type of Place:</th>
        <td>{{form.type_of_place}}</td>
      </tr>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
</div>

{% endblock %}